# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/

# Virtual Environment
.env
.vscode/

# IDEs and editors
.idea/
*.iml
*.iws
*.swp
*.swo
*.sublime-workspace
*.sublime-project
*.tmPreferences.cache
*.tmTheme.cache

# macOS
.DS_Store

# Windows
Thumbs.db

# Docker
docker-compose.override.yaml
postgres_data/
celerybeat-schedule

# Files with secrets and keys
*.key
*.pem
*.env.*

# Frontend build folder (если есть)
node_modules/

# Misc
*.sql
.pytest_cache/
